/***************************************************
                 error dialog style                *
 ***************************************************/
.err-dialog-header-box {
    border-style: solid;
    border-color: #DBDBDB;
    border-width: 0 0 1px 0;
}

.err-dialog-header-box, .err-dialog-content-box {
    padding: 10px;
}

.add-btn {
    border-width: 0;
    background-size: contain;
    background-image: url("/cn/navclub/img/add.svg");
}

.add-btn:hover {
    background-color: gray;
    background-image: url("/cn/navclub/img/add_active.svg")
}
